# Docker Image
LOVEBOX_TELEGRAM_SENDER_IMAGE="patertuck/lovebox-telegram-sender:main"

# Lovebox Login
LOVEBOX_ENABLED=true
LOVEBOX_EMAIL="me@email.com"
LOVEBOX_PASSWORD="mySecret"

# Lovebox Setting
LOVEBOX_SIGNATURE="Signature"
LOVEBOX_DEVICE_ID="42fab8322d8cec91"
LOVEBOX_BOX_ID="417a114e58e15a0214cf3612"

# Telegram Bot Settings
BOT_USERNAME="Lovebox_bot"
BOT_TOKEN="replace-me"
BOT_ALLOWED_CHAT_ID="8782720476"

# Scheduled messages
MESSAGES_DATABASE_PATH="/app/data/messages.db"
MESSAGES_DOCUMENT_PATH="/app/message.docx"
MESSAGES_PICTURES_PATH="/app/data/pictures"
